section{
  display: flex;
  background: #999;
  border-radius: 6px;  
  margin: 6px;
  padding: 6px;
}
label {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 6px;  
  padding: 6px;
  margin: 6px;
}
input {
  border: 1px solid gray;
  border-radius: 6px;  
}