section[data-id=control] {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    justify-content: center;
    padding: 1px;
    margin: 3px;
    background: #777;
    border-radius: 0.5rem;
}
section[data-id="control"] form label {
  color: #eee;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 6px;  
  padding: 3px;
  margin: 3px;
}
section[data-id="control"] form input, select, button{
    background: #ccc;
    border-radius: 3px;
    font-size: 1rem;
    padding: 6px 6px;
    margin: 6px;
    font-weight: 900;
}
section[data-id="control"] form button {
    padding: 6px 12px;
}