div[data-id=line-chart] {
  color: #eee;
  fill: #ccc;
  border-radius: 12px;
}
div[data-id=line-chart] svg text {
  font-weight: 200;
}
div[data-id=line-chart][data-component-type="chart"].line-chart svg  path.spark-line {
  stroke: #555;
  stroke-width: 6px;
  fill: none;
}
div[data-id=line-chart][data-component-type="chart"].line-chart 
svg  
path[data-id="line-chart-symbol"] {
  // fill: #111;
}
div[data-id=line-chart][data-component-type="chart"].line-chart 
svg path[data-id="line-chart-symbol"]:hover {
  fill: red;
  cursor: pointer;
}