section[data-id=container] {
  font-family: sans-serif;
  text-align: center;
  display: inline-flex;
  background: #555;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  width: 100%;
}
section[data-id=container] h3 {
    color: #aaa;
}
a {
    color: darkblue;
    text-decoration: none;
}
a:link {
    color: darkgreen;
}
a:visited {
    color: darkblue;
}
a:focus {
    color: red;
}
a:hover {
    color: green;
}
a:active {
    color: darkred;
}
